<%= form_with(model: sprint) do |form| %>
  <% if sprint.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
        <% sprint.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"%>
    <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
  </div>

  <div>
    <%= form.label :warmup, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"%>
    <%= form.check_box :warmup, class:"w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"%>
  </div>

  <div>
    <%= form.label :sittingbpm, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"%>
    <%= form.number_field :sittingbpm, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
  </div>

  <div>
    <%= form.label :joggingbpm, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"%>
    <%= form.number_field :joggingbpm, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
  </div>

  <div>
    <%= form.label :sprintingbpm, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"%>
    <%= form.number_field :sprintingbpm, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
  </div>

  <div>
    <%= form.submit%>
  </div>
<% end %>
