<div id="<%= dom_id sprint %>">
  <p>
    <strong>Name:</strong>
    <%= sprint.name %>
  </p>

  <p>
    <strong>Warmup:</strong>
    <%= sprint.warmup %>
  </p>

  <p>
    <strong>Sittingbpm:</strong>
    <%= sprint.sittingbpm %>
  </p>

  <p>
    <strong>Jogging:</strong>
    <%= sprint.jogging %>
  </p>

  <p>
    <strong>Bpm:</strong>
    <%= sprint.bpm %>
  </p>

  <p>
    <strong>Sprintingbpm:</strong>
    <%= sprint.sprintingbpm %>
  </p>

</div>
