<div id="<%= dom_id sprint %>">
  <p>
    <strong>Name:</strong>
    <%= sprint.name %>
  </p>

  <p>
    <strong>Warmup:</strong>
    <%= sprint.warmup %>
  </p>

  <p>
    <strong>Sitting bpm:</strong>
    <%= sprint.sittingbpm %>
  </p>

  <p>
    <strong>Jogging bpm:</strong>
    <%= sprint.joggingbpm %>
  </p>

  <p>
    <strong>Sprinting bpm:</strong>
    <%= sprint.sprintingbpm %>
  </p>

</div>
