<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <title>Sprint Tracker</title>
  </head>

  <body>

  <body>
    <!-- Navbar is here -->
    <nav class="bg-white shadow-lg">
      <nav class="max-w-9xl mx-auto px-4">
        <div class="flex justify-between"> 
          <div class="flex space-x-7">
          <!-- Website logo -->
          <div>
            <a href="#" class="flex items-center py-4 px-2">
              <%= image_tag "Logo.png", height: 32, width: 32%>
              <span class="font-semibold text-gray-500 text-lg">Sprint Tracker</span>
            </a>
          </div>
          <!-- Primary NavBar Items -->
          <% if user_signed_in? %>
            <div class="hidden md:flex items-center space-x-1">
              <%= link_to "Home", sprints_path, class: "py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold"%>
              <%= button_to 'Sign Out', destroy_user_session_path, method: :destroy, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to sign out?"}  }, class: "py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"%>
            </div>
          <% else %>
            <div class="hidden md:flex items-center space-x-3 justify-end ">
              <%= link_to 'Sign In', new_user_session_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"%>
              <%= link_to 'Sign Up', new_user_registration_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"%>
            </div>
          <% end %>
        </div>
      </div>
    </nav>

    <main class="flex flex-col w-full bg-white overflow-x-hidden overflow-y-auto mb-14">
      <div class="flex w-full mx-auto px-6 py-8">
        <main class="flex flex-col w-full h-full text-gray-900 text-xl ">
          <%= yield %>
        </main>
      </div>
    </main>
  </body>
</html>
